*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.pem
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
hasDBSeeded
.env

mywell-ui/www/*
!mywell-ui/www/img
!mywell-ui/www/templates
!mywell-ui/www/ionic*
!mywell-ui/www/ngReact*

platforms/ios/build
platforms/android/assets


taskArtifacts
