<div class="modal">
	<ion-header-bar>
	<h1 class="title">New Resource</h1>
</ion-header-bar>

<!--
<div class="container overlap">
	<i class="ion-location icon-larger"></i>
</div> -->

<ion-content scrollable="false">

<form>
	<label class="item item-input">
		<input ng-model="form.village_name" type="text" placeholder="Village/Town Name">
	</label>
	<label class="item item-input">
		<input ng-model="form.postcode" type="tel" placeholder="Pincode">
	</label>
	<label class="item item-input">
		<input ng-model="form.owner" type="text" placeholder="Owner">
	</label>
	<label class="item item-input">
    +91
		<input ng-model="form.mobile" type="tel" placeholder="Mobile (India only)">
	</label>
	<label class="item item-input">
		<input ng-model="form.email" type="email" placeholder="email">
	</label>
	<label class="item item-input">
		<input ng-model="form.max_wt_depth" step="0.01" type="number" placeholder="Max WT Depth" ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/">
	</label>
	<label class="item item-input">
    <div class="row">
      <p class="col">Resource Type:</p>
		  <select class="col" ng-model="form.type">
        <option ng-repeat="type in resources" value="{{type}}">{{type}}</option>
		  </select>
  </div>
 </label>
    <div class="row locateRow">
      <div class="col">
        <p>Coordinates:</p>
      </div>
      <div class="col">
        <button class="col button button-small icon ion-android-locate" ng-click=locate()></button>
      </div>
      <div class="col col-25">
        <input class="col" ng-model="form.lat" type="number" placeholder="Latitude">
      </div>
      <div class="col col-25">
        <input class="col" ng-model="form.lng" type="number" placeholder="Longitude">
      </div>
    </div>
</form>

<div id="leafletMapRegister"></div>

<div class="padding">
	<a class="button button-positive button-clear button-block button-outline" ng-click="closeModal(form)">Save</a>
	<a class="button button-assertive button-clear button-block button-outline" ng-click="closeModal(false)">Cancel</a>
</div>

</ion-content>
