<ion-view view-title="MyWell">
<ion-content class="padding" scroll="false">
  <div class="row">
    <div class="col col-75">
      <label id="searchBox" class="item item-input">
        <i class="ion-search"> </i>
        <input id="search-box-input" class="positive" ng-model="searchResource" type="text" placeholder=" Search by Id or Pincode" ng-change="watchSearch(searchResource)">
      </label>
    </div>
    <div class="col">
      <button class="button button-small icon ion-android-locate map-buttons" ng-click=locate()></button>
    </div>
    <div class="col">
      <button class="button button-small icon ion-refresh map-buttons" ng-click=refreshDataPressed()></button>
    </div>
  </div>

  <div class="searchPanel" id="panel" ng-show='showSearchPanel'>
    <div class="row top-row">
      <div class="col">Village</div>
      <div class="col">ResourceId</div>
      <div class="col">Pincode</div>
    </div>
    <div scroll="true" class="search-scroll-container">
      <div class="search-scroll-content">
        <ion-item
          class="button button-full row"
          ng-click="$parent.searchItemPressed(this, resource)"
          ng-repeat="resource in data | filter:searchResource as results">
            <div class="col">{{resource.villageName}}</div>
            <div class="col">{{resource.id}}</div>
            <div class="col">{{resource.postcode}}</div>
        </ion-item>
        <div ng-show="results.length == 0" class="no-results">
          <p>
            No results found.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="map-container" data-tap-disabled="true">
    <div id="leafletMap"></div>
  </div>
  </ion-content>
</ion-view>
