<main>
  <!-- <hello fname="ctrl.person.fname" lname="ctrl.person.lname"/> -->

  <ion-nav-bar class="bar-stable" ng-controller="AppController">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="login()" ng-hide="isLoggedIn">
        Login
      </button>
      <button class="button" ng-click="logout(true)" ng-hide="!isLoggedIn">
        Logout
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-view scroll="false"></ion-nav-view>
  <div ng-controller="helloController">
    <!-- <react-component name="HelloComponent" props="person" watch-depth="reference"/> -->
    <!-- <hello fname="ctrl.person.fname" lname="ctrl.person.lname"/> -->
  </div>
  <!-- <react-component name="HelloComponent" props="person" watch-depth="reference"/> -->
</main>
