<ion-view view-title="Settings">
<ion-content class="padding">

<div class="">
  <img class="marvi_logo" src="img/marvi_logo.png"/>
  <p>MyWell version: {{version_number}}</p>
	<p>MyWell is part of Project MARVI</p>
  <p>For more information, visit <a href="http://marvi.org.in">marvi.org.in</a> </p>
  <p>Questions? Email <a href="mailto:info@marvi.org.in">info@marvi.org.in</a></p>
</br>
</div>


  </br>
  <h4>Settings</h4>
  <div ng-if="isUserNotLoggedIn">
    <p class="">Log in access settings</p>
  </div>
  <div ng-if="isUserLoggedInAndVerified">
  	<a class="button button-outline button-block button-clear button-positive" ng-show="isVerified" href="#/tab/settings/register">Register a New Well Rain Gauge or Checkdam</a>
    <!-- removing this for now. Can't get it working with the current version of cordova -->
	  <!-- <a class="button button-outline button-block button-clear button-positive" ng-show="isVerified" ng-if="!isDesktop" ng-click="showGetImagePopup()">Change an image</a> -->
	  <a class="button button-outline button-block button-clear button-assertive" ng-show="isVerified" ng-click="clearLogin()">Logout and Forget Me</a>
  </div>
  </br>

  <div ng-if="isDesktop">
    <h4>Tools</h4>
    <a
      class="button button-outline button-block button-positive"
      target="_blank"
      ng-href="https://github.com/lewisdaly/mywell-server/blob/develop/paper/userguide.md#getting-data-in-and-out-of-mywell">
      Upload/Download Reading Data
    </a>
  </div>
  </br>
  <div ng-if="isDesktop">
    <!-- TODO: download the pdf brochure? -->
    <a class="button button-block button-light" target="_blank" ng-href="http://marvi.org.in">Learn more about MyWell and Marvi</a>
    <a class="button button-block button-light" target="_blank" ng-href="https://docs.google.com/forms/d/e/1FAIpQLSfX4VBUaBTV8P4U4RQ6lpcKziorGKLTNkQvJf-JUn-L-DnH6g/viewform?usp=sf_link">Leave Feedback</a>
  </div>
  <div>
    </br>
    <h4>MyWell was Designed and Developed by:</h4>
    <p>Lewis Daly and Basant Maheshwari</p>
    </br>
    <h5>With input from:</h5>
    <p>Murlikrishna Viswanathan</p>
    <p>James Laney</p>
    <p>Constantin Baumgartner</p>
    <p>Romin Parekh</p>
    <p>Peter Dillon</p>
    <p>Pennan Chinnasamy</p>
    <p>Yogita Dashora</p>
    <p>Prahlad Soni</p>
    <p>Y. Jadeja</p>
    <p>S. Oza</p>
    <p>R.C. Purohit</p>
    <p>P.K. Singh</p>
    <p>A.S. Jodha</p>
    <div class="row responsive-sm">
      <div class="col"><img class="small_logo" src="img/logos/logo0.png"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo1.jpg"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo2.png"/></div>
    </div>
    <div class="row responsive-sm">
      <div class="col"><img class="small_logo" src="img/logos/logo3.jpg"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo4.png"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo5.png"/></div>
    </div>
    <div class="row responsive-sm">
      <div class="col"><img class="small_logo" src="img/logos/logo6.png"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo7.png"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo8.png"/></div>
      <div class="col"><img class="small_logo" src="img/logos/logo9.png"/></div>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
